@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    background-color: #f9fafb;
    color: #111827;
  }

  [data-theme="dark"] body {
    background-color: #111827;
    color: #f9fafb;
  }
}
